:root .theme_dark {
  --main-color: #000028;
  --color-primary: #FF0070;
  --color-definition: #f1b2ce;
  --color-base: var(--color-primary);
  --accent-color: #DB00FF;
  --unusual-color: rgba(255, 0, 112, 0.4);
  --shadow-info: 4px 4px 0 var(--color-primary);
  --shadow-info-text: 2px 1.5px 1px var(--color-primary);
  --shadow-info-accent: 3px 2px 0 var(--color-primary);
  --font-size-base: 18px;
  --font-size-accent: 157px;
  --font-weight-base: 400;
  --font-weight-bold: 700;
  --unit: 20px;
  --background-color: var(--main-color);
  --background-image: url('../images/cover-image-dark.png');
}

.page.theme_dark .text_divers {
  visibility: unset;
}

.page.theme_dark .dot {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
      --main-color: #000028;
      --color-primary: #FF0070;
      --color-definition: #f1b2ce;
      --color-base: var(--color-primary);
      --accent-color: #DB00FF;
      --unusual-color: rgba(255, 0, 112, 0.4);
      --shadow-info: 4px 4px 0 var(--color-primary);
      --shadow-info-text: 2px 1.5px 1px var(--color-primary);
      --shadow-info-accent: 3px 2px 0 var(--color-primary);
      --font-size-base: 18px;
      --font-size-accent: 157px;
      --font-weight-base: 400;
      --font-weight-bold: 700;
      --unit: 20px;
      --background-color: var(--main-color);
      --background-image: url('../images/cover-image-dark.png');
  }
}