:root .theme_light {
  --color-primary: #FF8DCB;
  --color-second: #353430;
  --accent-color: #FFC2E6;
  --color-desk: #ff0070;
  --unusual-color:rgba(50, 49, 45, 0.4);
  --shadow-info: 4px 4px 0 var(--color-desk);
  --shadow-info-second: 2px 1.5px 1px var(--color-primary);
  --color-secondary: var(--color-second);
  --shadow-info-accent: 3px 2px 0 var(--color-desk);
  --background: url('/images/cover-image-light.png'), var(--color-decor);
}

.page.theme_light .section--textual p {
  color: var(--color-second);
}

.page.theme_light .text_divers {
  visibility: hidden;
}

.page.theme_light .dot {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
      --color-primary: #FF8DCB;
      --color-second: #353430;
      --accent-color: #FFC2E6;
      --color-desk: #ff0070;
      --unusual-color:rgba(50, 49, 45, 0.4);
      --shadow-info: 4px 4px 0 var(--color-desk);
      --shadow-info-second: 2px 1.5px 1px var(--color-primary);
      --color-secondary: var(--color-second);
      --shadow-info-accent: 3px 2px 0 var(--color-desk);
      --background: url('/images/cover-image-light.png'), var(--color-decor);
    }

  .page .dot {
      display: none;
  }

  .page .text_divers {
      visibility: hidden;
  }
}