.page {
  font-family: var(--primary-font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page .title {
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 1.83;
  color: var(--accent-color);
  text-shadow: var(--shadow-info);
}

.header {
  padding: var(--unit);
  color: var(--color-primary);
  line-height: 1;
  position: relative;
  height: 100vh;
  min-height: 613px;
  box-sizing: border-box;
}

.section {
  padding-block-end: 27px;
}

.header .header__info {
  display: flex;
  position: relative;
  color: var(--color-base);
}

.header .header__theme-menu {
  flex: 0 0 55.5%;
  width: 55.5%;
  margin-inline-start: auto;
}

.header .header__theme-menu-list {
  display: flex;
  align-items: center;
  gap: 11px;
}

.header .header__theme-menu-button {
  background: transparent;
  text-transform: lowercase;
  padding: 2px 12px 4px;
  border: 1px solid transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--unusual-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-base);
  outline: none;
}

.header__theme-menu-button.header__theme-menu-button_active {
  border: 1px solid var(--color-base);
  padding: 2px 12px 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  z-index: 1;
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
}

.decorated-zone::after {
  border-right: 1px solid var(--color-base);
  border-top: 1px solid var(--color-base);
  right: var(--unit);
  top: var(--unit);
}

.decorated-zone::before {
  border-left: 1px solid var(--color-base);
  border-bottom: 1px solid var(--color-base);
  left: var(--unit);
  bottom: var(--unit);
}

.text_divers::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  background: var(--color-primary);
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--color-primary);
  position: absolute;
  right: 7px;
  top: 8px;
}

.header .header__intro {
  width: 100%;
}

.title--header {
  margin-block-start: 20%;
  margin-inline-start: -20px;
}

.text-decor {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: var(--main-color);
  background: var(--color-primary);
  max-width: 50%;
  margin-inline-start: auto;
  margin-block-start: 3.3%;
}

.header__end {
  position: relative;
}

.text_divers {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-inline-end: 29px;
  padding-block-start: 6px;
}

.section__textual .textual {
  display: flex;
  padding-block-start: 60px;
  gap: var(--unit);
}

.section__textual--special {
  padding-block-start: var(--unit);
}

.section__textual .textual__title {
  font-weight: var(--font-weight-bold);
  line-height: 1.3;
  color: var(--color-base);
  font-size: var(--font-size-base);
  flex: 0 0 32%;
  width: 32%;
}

.section__textual .textual__link {
  text-decoration: none;
  text-shadow: var(--shadow-text);
  position: relative;
  display: inline-block;
}

.section__textual .textual__link::after {
  content: '';
  display: none;
  position: absolute;
  height: 1px;
  background: var(--color-definition);
  width: 100%;
}

.section__textual .textual__link:hover::after {
  display: block;
}

.section__textual .textual__link:focus {
  outline: none;
}

.section__textual .textual__link:focus-visible {
  outline: 1px solid var(--color-definition);
}

.section__textual .textual__item:not(:last-child) {
  padding-block-end: var(--unit);
}

.section__textual .textual__subtitle {
  font-weight: var(--font-weight-base);
  line-height: 1.3;
  color: var(--main-color);
  font-size: var(--font-size-base);
  background: var(--color-primary);
  display: block;
  margin-block-end: 10px;
}

.textual__subtitle.textual--special {
  font-weight: var(--font-weight-bold);
  margin-block-end: 10px;
  width: 100%;
}

.textual__subtitle.mt {
  margin-block-start: var(--unit);
}

.textual--special.mb {
  margin-block-end: 0;
}

.section__textual p {
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-base);
  line-height: 1.3;
  color: var(--color-definition);
}

.section__textual p:not(:last-child) {
  margin-block-end: 10px;
}

.section__textual--list {
  padding-block-start: var(--unit);
}

.section__textual--thumbs {
  padding-block-start: var(--unit);
}

.section__textual--thumbs .textual {
  padding-block-start: 33px;
  flex-wrap: wrap;
}

.section__textual--list .textual {
  flex-wrap: wrap;
  padding-block-start: 34px;
}

.section__textual--list .textual__title {
  flex: 0 0 35%;
  width: 35%;
}

.section__textual--list .textual__items {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
}

.section__textual--list .textual__item {
  flex: 0 0 32%;
  width: 32%;
}

.section__textual--special .textual {
  padding-block-start: 33px;
}

.section__textual--thumbs .thumb__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: var(--unit);
  grid-template-areas:
      "thumb__item--one thumb__item--one thumb__item--two"
      "thumb__item--three thumb__item--four thumb__item--two"
      "thumb__item--three thumb__item--five thumb__item--five";
  max-height: 1030px;
}

.section__textual--thumbs .thumb__item--one {
  grid-area: thumb__item--one;
  max-height: 260px;
}

.section__textual--thumbs .thumb__item--two {
  grid-area: thumb__item--two;
}

.section__textual--thumbs .thumb__item--three {
  grid-area: thumb__item--three;
}

.section__textual--thumbs .thumb__item--four {
  grid-area: thumb__item--four;
  max-height: 315px;
}

.section__textual--thumbs .thumb__item--five {
  grid-area: thumb__item--five;
  max-height: 432px;
}

.section__textual--thumbs .thumb__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  padding-block-end: 48px;
  height: 100vh;
  box-sizing: border-box;
  padding-block-start: 51px;
  margin-block-start: 50px;
}

.footer .container {
  height: 100%;
}

.footer_content {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer__info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title--footer {
  text-shadow: var(--shadow-info-accent);
  text-align: center;
}

@media(width <=1023px) {

  .section__textual .textual__title,
  .section__textual--special .textual__title {
      padding: 0;
  }

  .section__textual--list .textual__item:first-child {
      padding-left: 0;
  }
}

@media(width <=992px) {
  .section__textual--thumbs .thumb__item--one {
      max-height: unset;
  }
}

@media(width <=768px) {
  :root .page.theme_light {
      --shadow-info: 4px 4px 0 var(--color-primary);
      --shadow-info-accent: 3px 2px 0 var(--color-primary);
  }

  .header {
      margin-block-end: 0;
  }

  .title--header {
      margin-block-start: 24%;
      margin-inline-start: -20px;
  }

  .text_divers {
      margin-block-end: 20%;
      display: inline-block;
      margin-left: auto;
  }

  .header .header__info {
      flex-wrap: wrap;
      flex-direction: column-reverse;
  }

  .header .header__theme-menu-list {
      flex-direction: column;
  }

  .header .header__theme-menu {
      flex: unset;
      width: unset;
  }

  .page .title {
      font-size: clamp(5rem, 3.3929rem + 10.0357vw, 7.4rem);
      line-height: 0.83;
  }

  .text-decor {
      margin-block-start: 22%;
      max-width: 50%;
  }

  .section__textual .textual {
      padding-block-start: 58px;
  }

  .section__textual--list .textual {
      padding-block-start: 34px;
  }

  .section__textual--list .textual__items {
      flex-wrap: wrap;
      gap: 0;
  }

  .section__textual--list .textual__item {
      flex: 0 0 100%;
      width: 100%;
      padding-left: 0;
  }

  .footer {
      padding-block-end: var(--unit);
      padding-block-start: 0;
      margin-block-start: 32px;
  }

  .footer .footer__info {
      padding-top: 20px;
  }

  .section__textual--list .textual__title {
      flex: 0 0 32%;
      width: 32%;
  }

  .section__textual--thumbs .thumb__item--one {
      max-height: 192px;
  }

  .section__textual--thumbs .thumb__item--four {
      max-height: 230px;
  }

  .section__textual--thumbs .thumb__item--five {
      max-height: 319px;
  }

  .section__textual--thumbs .thumb__items {
      max-height: 780px;
  }

  .text_divers::after {
      right: 9px;
      top: 9px;
  }

  .section__textual--special {
      padding-block-start: 0;
  }

  .section__textual.section__textual--thumbs .textual {
      padding-block-start: 30px;
  }

  .section__textual--special .textual {
      padding-block-start: 54px;
  }

}

@media(width <=640px) {
  .text-decor {
      margin-block-start: 14.5%;
      margin-inline-start: unset;
      max-width: unset;
  }

  .header {
      min-height: unset;
      padding-block-end: 80px;
      padding: 10px;
  }

  .title--header {
      margin-block-start: 17.5%;
      margin-inline-start: -2px;
  }

  .section__textual .textual {
      flex-direction: column;
      padding-block-start: 41px;
  }

  .section__textual--thumbs .textual {
      gap: 10px;
      padding-block-start: 7px;
  }

  .section__textual .textual__title,
  .section__textual--list .textual__title {
      flex: 0 0 100%;
      width: 100%;
      padding-block-end: 0;
  }

  .section__textual .textual__item {
      padding-left: 0;
  }

  .section__textual--special .textual__title {
      padding-block-end: 0;
  }

  .section__textual--thumbs .thumb__items {
      gap: 10px;
      grid-template-areas:
          "thumb__item--one thumb__item--one thumb__item--one"
          "thumb__item--two thumb__item--two  thumb__item--two "
          "thumb__item--three thumb__item--three thumb__item--three"
          "thumb__item--four thumb__item--four thumb__item--four"
          "thumb__item--five thumb__item--five thumb__item--five";
      height: auto;
      max-height: unset;
      grid-template-rows: auto;
  }

  .section__textual--thumbs {
      padding-block-end: 42px;
  }

  .container {
      padding: 0 10px;
  }

  .page .title {
      font-size: clamp(5rem, 5.5rem + 10.0357vw, 7.4rem);
  }

  .section__textual--list .textual {
      padding-block-start: 0;
  }

  .section__textual--special .textual {
      padding-block-start: 10px;
  }

  .section__textual--thumbs .thumb__item--one {
      max-height: 142px;
  }

  .section__textual--thumbs .thumb__item--two {
      max-height: 355px;
  }

  .section__textual--thumbs .thumb__item--four {
      max-height: 355px;
  }

  .section__textual--thumbs .thumb__item--five {
      max-height: 237px;
  }

  .footer {
      margin-block-end: 0;
      margin-block-start: 0;
  }

  .decorated-zone::after {
      top: 10px;
      right: 10px;
  }

  .text_divers {
      margin-block-end: 11.5%;
  }

  .decorated-zone::before {
      bottom: 10px;
      left: 10px;
  }

  .section {
      padding-block-end: 34px;
  }

  .section.section__textual--list {
      padding-block-start: 16px;
      padding-block-end: 40px;
  }

  .section__textual--thumbs {
      padding-block-start: 0;
  }

  .section__textual.section__textual--thumbs .textual {
      padding-block-start: 0;
  }

  .section__textual.section__textual--special {
      padding-block-end: 50px;
  }
}